In [1]:
from langchain.document_loaders.parsers.pdf import PDFPlumberParser
from langchain.document_loaders import Blob
from langchain.document_loaders import PyPDFLoader

In [46]:
from langchain.document_loaders import Blob
from langchain.document_loaders.parsers.pdf import PDFPlumberParser

# Create a Blob object for the PDF document
blob = Blob.from_path("page 1.pdf")

# Create a PDFPlumberParser object
parser = PDFPlumberParser()

# Use the lazy_parse method to parse the PDF document

docs = parser.lazy_parse(blob)
for i in docs:
    print(i)

page_content='
' metadata={'source': 'sample.pdf', 'file_path': 'sample.pdf', 'page': 0, 'total_pages': 1, 'Producer': 'Adobe XD'}

In [5]:
loader = PyPDFLoader('page 1.pdf')

#split the document into chunks
pages = loader.load_and_split()

In [6]:
!pip install tabula-py
!pip install jpype

Requirement already satisfied: tabula-py in c:\users\kushaagra mehta\anaconda3\envs\torch_env\lib\site-packages (2.9.3)
Requirement already satisfied: pandas>=0.25.3 in c:\users\kushaagra mehta\anaconda3\envs\torch_env\lib\site-packages (from tabula-py) (1.5.3)
Requirement already satisfied: numpy in c:\users\kushaagra mehta\anaconda3\envs\torch_env\lib\site-packages (from tabula-py) (1.26.4)
Requirement already satisfied: distro in c:\users\kushaagra mehta\anaconda3\envs\torch_env\lib\site-packages (from tabula-py) (1.9.0)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\kushaagra mehta\anaconda3\envs\torch_env\lib\site-packages (from pandas>=0.25.3->tabula-py) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\kushaagra mehta\anaconda3\envs\torch_env\lib\site-packages (from pandas>=0.25.3->tabula-py) (2024.1)
Requirement already satisfied: six>=1.5 in c:\users\kushaagra mehta\anaconda3\envs\torch_env\lib\site-packages (from python-dateutil>=2.8.1->pandas>=0.25.3->tabula-py) (1.16.0)
Collecting jpype
  Using cached jpype-0.0.tar.gz (541 bytes)
  Preparing metadata (setup.py): started
  Preparing metadata (setup.py): finished with status 'error'

  error: subprocess-exited-with-error

  python setup.py egg_info did not run successfully.
  exit code: 1

  [8 lines of output]

  =========================================

  Please install the `JPype` with ``pip install jpype1``

  =========================================


  [end of output]

  note: This error originates from a subprocess, and is likely not a problem with pip.
error: metadata-generation-failed

Encountered error while generating package metadata.

See above for output.

note: This is an issue with the package mentioned above, not pip.
hint: See above for details.

# ------------------ Tabula ----------------------------------

# ------------------ Tabula ----------------------------------

# ------------------ Tabula ----------------------------------

In [93]:
from tabula.io import read_pdf

tab = read_pdf('page 1.pdf', pages='all')
# for t in tab:
#     print(t, "\n=========================\n")
df = tab[0]

In [94]:
len(tab)

2

In [43]:
df.columns

Index(['Details of Salary Paid and any other income and tax deducted',
       'Unnamed: 0', 'Unnamed: 1', 'Unnamed: 2', 'Unnamed: 3'],
      dtype='object')

In [44]:
# df.drop(columns=['Details of Salary Paid and any other income and tax deducted'], inplace=True)

In [53]:
import numpy as np
df = df.replace(np.nan, 0)

In [54]:
df.head()

,Details of Salary Paid and any other income and tax deducted,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3
0,1.,Gross Salary,0,0,0
1,(a),Salary as per provisions contained in section ...,0,Rs. 1000,0
2,(b),Value of perquisites under section 17(2) (as p...,0,Rs. 5000,0
3,(c),Profits in lieu of salary under section 17(3) ...,0,Rs. 9000,0
4,(d),Total,0,0,Rs. 4000

In [79]:
df.iloc[22:30]

,Details of Salary Paid and any other income and tax deducted,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3
22,4.,Less: Deductions under section 16,0,0,0
23,(a),Standard deduction under section 16(ia),0,Rs. 346,0
24,(b),Entertainment allowance under section 16(ii),0,Rs. 3453,0
25,(c),Tax on employment under section 16(iii),0,Rs. 3631,0

In [76]:
# dropped_df = df.drop(columns=['Details of Salary Paid and any other income and tax deducted'])
# dropped_df.head()

In [77]:
# sentences
sentences = []

In [78]:
indices =[(0,6),(6,21), (21,22), (22,23), (), ()]
# describe = set([1,2])

In [63]:
def make_str(arr):
    sentences.append(" ".join(arr))
def subset_making(start,stop):
    subset_array =( df.iloc[start:stop].to_numpy()).flatten()
    subset_array = [str(element) for element in subset_array if element != 0]
    make_str(subset_array)

In [74]:
for j in range(len(indices)):
    subset_making(indices[j][0],indices[j][1])

In [75]:
sentences

['1. Gross Salary (a) Salary as per provisions contained in section 17(1) Rs. 1000 (b) Value of perquisites under section 17(2) (as per Form\rNo. 12BA, wherever applicable) Rs. 5000 (c) Profits in lieu of salary under section 17(3) (as per\rForm No. 12BA, wherever applicable) Rs. 9000 (d) Total Rs. 4000 (e) Reported total amount of salary received from other\remployer(s) Rs. 6000',
 '2. Less: Allowances to the extent exempt under section 10 (a) Travel concession or assistance under section 10(5) Rs. 500 (b) Death-cum-retirement gratuity under section 10(10) Rs. 800 (c) Commuted value of pension under section 10(10A) Rs. 900 (d) Cash equivalent of leave salary encashment under\rsection 10(10AA) Rs. 20000 (e) House rent allowance under section 10(13A) Rs. 5000 (f) Amount of any other exemption under section 10 clause test1 Rs. 1234 Clause test2 Rs. 5678 Clause test 3 Rs. 234 clause test4 Rs. 978 clause tes5 Rs. 234 Another caluse Rs. 635 (g) Total amount of any other exemption under section 10 Rs. 3243 (h) Total amount of exemption claimed under section 10\r[2(a)+2(b)+2(c)+2(d)+2(e)+2(g)] Rs. 5321',
 '3. Total amount of salary received from current employer\r[1(d)-2(h)] Rs. 234',
 '4. Less: Deductions under section 16']

In [39]:
result_parts = []

# for i, element in enumerate(subset_array):
#     result_parts.append(element)
#     if (i + 1) % 2 == 0 and i + 1 < len(subset_array):
#         result_parts.append("is")
result_string = ' '.join(result_parts)
sentences.append(result_string)

In [40]:
sentences

['Gross Salary Salary as per provisions contained in section 17(1) is Rs. 1000 Value of perquisites under section 17(2) (as per Form\rNo. 12BA, wherever applicable) is Rs. 5000 Profits in lieu of salary under section 17(3) (as per\rForm No. 12BA, wherever applicable) is Rs. 9000 Total is Rs. 4000 Reported total amount of salary received from other\remployer(s) is Rs. 6000']

In [11]:
# df = df.columns.str.replace(' ', '')
df.dtypes

Details of Salary Paid and any other income and tax deducted    object
Unnamed: 0                                                      object
Unnamed: 1                                                      object
Unnamed: 2                                                      object
Unnamed: 3                                                      object
dtype: object

In [48]:
# from pandasai import SmartDataframe
# from pandasai.llm.local_llm import LocalLLM
# import pandas as pd
# from pandasai.connectors import PostgreSQLConnector

In [49]:
# ollama_llm = LocalLLM(api_base="http://localhost:11434", model="gemma2:2b")

In [50]:
# smdf = SmartDataframe(df, config={"llm": ollama_llm})

In [28]:
# response = smdf.chat('What is unnamed 2 of Profits in lieu of salary')

# -----------------Trying from direct loading--------------------

In [2]:
import os, dotenv
dotenv.load_dotenv()
os.environ['OPENAI_API_KEY'] = os.getenv('OPENAI_API_KEY')
os.environ['LANGCHAIN_API_KEY'] = os.getenv('LANGCHAIN_API_KEY')
os.environ['LANGCHAIN_PROJECT'] = os.getenv('LANGCHAIN_PROJECT')

In [3]:
from langchain_core.documents import Document
from langchain_text_splitters import RecursiveCharacterTextSplitter
from langchain_community.vectorstores import FAISS
from langchain_community.embeddings import OllamaEmbeddings
from langchain_core.prompts import PromptTemplate
from langchain.chains import create_retrieval_chain
from langchain.chains.combine_documents import create_stuff_documents_chain

In [4]:
import numpy as np

In [18]:
from tabula.io import read_pdf

tab = read_pdf('form.pdf', pages='all')
# for t in tab:
#     print(t, "\n=========================\n")
# df = tab[2]

In [37]:
# tab[2].to_numpy()
# tab[2]
for i in range(len(tab)):
    print(tab[i].columns.to_numpy())
print("===")
for i in range(len(tab)):
    column_names = tab[i].columns.to_numpy()
    column_names = [str(element) for element in tab[i] if (element != 'Unnamed: 0' and element != 'Unnamed: 1' and element != 'Unnamed: 2' and element != 'Unnamed: 3')]
    print(column_names)

['Details of Salary Paid and any other income and tax deducted'
 'Unnamed: 0' 'Unnamed: 1' 'Unnamed: 2' 'Unnamed: 3']
['2. Substituted by Income-tax (3rd Amendment) Rules, 2019, w.e.f. 12-5-2019. Prior to its\rsubstitution part B read as under :\r\r(Contd. on next page']
['5.' 'Total amount of deductions under section 16\r[4(a)+4(b)+4(c)]'
 'Unnamed: 0' 'Unnamed: 1' 'Unnamed: 2' 'Rs. 1000']
['Unnamed: 0' 'Gross\rAmount' 'Deductibl\re Amount' 'Unnamed: 1'
 'Unnamed: 2']
['(k) Amount deductible under any other provision(s) of Chapter VI-A']
===
['Details of Salary Paid and any other income and tax deducted']
['2. Substituted by Income-tax (3rd Amendment) Rules, 2019, w.e.f. 12-5-2019. Prior to its\rsubstitution part B read as under :\r\r(Contd. on next page']
['5.', 'Total amount of deductions under section 16\r[4(a)+4(b)+4(c)]', 'Rs. 1000']
['Gross\rAmount', 'Deductibl\re Amount']
['(k) Amount deductible under any other provision(s) of Chapter VI-A']

In [7]:
embeddings = OllamaEmbeddings(model="gemma2:2b")

In [39]:
text= []
for df in tab:
    df = df.replace(np.nan, 0)
    result = ''
    column_names = df.columns.to_numpy()
    column_names = [str(element) for element in df if (element != 'Unnamed: 0' and element != 'Unnamed: 1' and element != 'Unnamed: 2' and element != 'Unnamed: 3')]
    res = ' is '.join(column_names)
    result +=res
    df = (df.to_numpy()).flatten()
    
    filtered_elements = [str(element) for element in df if element != 0]
    res = ' is '.join(filtered_elements)
    result+=res
    text.append(result)

In [40]:
text

['Details of Salary Paid and any other income and tax deducted1. is Gross Salary is (a) is Salary as per provisions contained in section 17(1) is Rs. 1000 is (b) is Value of perquisites under section 17(2) (as per Form\rNo. 12BA, wherever applicable) is Rs. 5000 is (c) is Profits in lieu of salary under section 17(3) (as per\rForm No. 12BA, wherever applicable) is Rs. 9000 is (d) is Total is Rs. 4000 is (e) is Reported total amount of salary received from other\remployer(s) is Rs. 6000 is 2. is Less: Allowances to the extent exempt under section 10 is (a) is Travel concession or assistance under section 10(5) is Rs. 500 is (b) is Death-cum-retirement gratuity under section 10(10) is Rs. 800 is (c) is Commuted value of pension under section 10(10A) is Rs. 900 is (d) is Cash equivalent of leave salary encashment under\rsection 10(10AA) is Rs. 20000 is (e) is House rent allowance under section 10(13A) is Rs. 5000 is (f) is Amount of any other exemption under section 10 is clause test1 is Rs. 1234 is Clause test2 is Rs. 5678 is Clause test 3 is Rs. 234 is clause test4 is Rs. 978 is clause tes5 is Rs. 234 is Another caluse is Rs. 635 is (g) is Total amount of any other exemption under section 10 is Rs. 3243 is (h) is Total amount of exemption claimed under section 10\r[2(a)+2(b)+2(c)+2(d)+2(e)+2(g)] is Rs. 5321 is 3. is Total amount of salary received from current employer\r[1(d)-2(h)] is Rs. 234 is 4. is Less: Deductions under section 16 is (a) is Standard deduction under section 16(ia) is Rs. 346 is (b) is Entertainment allowance under section 16(ii) is Rs. 3453 is (c) is Tax on employment under section 16(iii) is Rs. 3631',
 '2. Substituted by Income-tax (3rd Amendment) Rules, 2019, w.e.f. 12-5-2019. Prior to its\rsubstitution part B read as under :\r\r(Contd. on next page',
 '5. is Total amount of deductions under section 16\r[4(a)+4(b)+4(c)] is Rs. 10006. is Income chargeable under the head "Salaries"\r[(3+1(e)-5] is Rs. 8000 is 7. is Add: Any other income reported by the employee under as per section 192 (2B) is (a) is Income (or admissible loss) from house property\rreported by employee offered for TDS is Rs. 3289 is (b) is Income under the head Other Sources offered for TDS is Rs. 42342 is 8. is Total amount of other income reported by the employee\r[7(a)+7(b)] is Rs.4654 is 9. is Gross total income (6+8) is Rs. 987 is 10. is Deductions under Chapter VI-A',
 'Gross\rAmount is Deductibl\re Amount(a) is Deduction in respect of life insurance premia,\rcontributions to provident fund etc. under section 80C is Rs. 2334 is (b) is Deduction in respect of contribution to certain pension\rfunds under section 80CCC is Rs. 3512 is (c) is Deduction in respect of contribution by taxpayer to\rpension scheme under section 80CCD (1) is Rs. 3452 is (d) is Total deduction under section 80C, 80CCC and\r80CCD(1) is Rs. 5266 is (e) is Deductions in respect of amount paid/deposited to\rnotified pension scheme under section 80CCD (1B) is Rs. 7897 is (f) is Deduction in respect of contribution by Employer to\rpension scheme under section 80CCD (2) is Rs. 9864 is (g) is Deduction in respect of health insurance premia under\rsection 80D is Rs. 8798 is (h) is Deduction in respect of interest on loan taken for\rhigher education under section 80E is Rs. 6789 is Gross\rAmount is Qualifyin\rg Amount is Deductibl\re Amount is (i) is Total Deduction in respect of donations to certain\rfunds, charitable institutions, etc. under section 80G is Rs. 3464 is (j) is Deduction in respect of interest on deposits in savings\raccount under section 80TTA is Rs. 2356',
 '(k) Amount deductible under any other provision(s) of Chapter VI-Asection abc Rs. 235 is Section efg Rs. 142 is Section hik Rs. 5236 is Section lmn Rs. 3463 is section pqr Rs. 8729 is Section xyz Rs. 930 is ... Rs. 900 is (l) Total of amount deductible under any other Rs. 9089 is provision(s) of Chapter VI-A is 11. Aggregate of deductible amount under Chapter VI-A is [10(a)+10(b)+10(c)+10(d)+10(e)+10(f)+10(g)+ is 10(h)+10(i) 10(j)+10(l)] is 12. Total taxable income (9-11) is 13. Tax on total income is 14. Rebate under section 87A, if applicable is 15. Surcharge, wherever applicable is 16. Health and education cess is 17. Tax payable (13+15+16-14) is 18. Less: Relief under section 89 (attach details) is 19. Net tax payable (17-18) is Verification is I, ..................................., son/daughter of ...................................................... working in the is capacity of ........................................... (designation) do hereby certify that the information given is above is true, complete and correct and is based on the books of account, documents, TDS is statements, and other available records. is Place.............................. (Signature of person responsible is for deduction of tax) is Date.............................. Full Name : ...........................']

In [41]:
documents = [Document(page_content=i) for i in text]

In [10]:
splitter = RecursiveCharacterTextSplitter(chunk_size=250, chunk_overlap=50)

In [70]:
docs =splitter.split_documents(documents)

In [71]:
docs

[Document(page_content='1. is Gross Salary is (a) is Salary as per provisions contained in section 17(1) is Rs. 1000 is (b) is Value of perquisites under section 17(2) (as per Form\rNo. 12BA, wherever applicable) is Rs. 5000 is (c) is Profits in lieu of salary under section'),
 Document(page_content='is (c) is Profits in lieu of salary under section 17(3) (as per\rForm No. 12BA, wherever applicable) is Rs. 9000 is (d) is Total is Rs. 4000 is (e) is Reported total amount of salary received from other\remployer(s) is Rs. 6000 is 2. is Less:'),
 Document(page_content='from other\remployer(s) is Rs. 6000 is 2. is Less: Allowances to the extent exempt under section 10 is (a) is Travel concession or assistance under section 10(5) is Rs. 500 is (b) is Death-cum-retirement gratuity under section 10(10) is Rs. 800 is'),
 Document(page_content='gratuity under section 10(10) is Rs. 800 is (c) is Commuted value of pension under section 10(10A) is Rs. 900 is (d) is Cash equivalent of leave salary encashment under\rsection 10(10AA) is Rs. 20000 is (e) is House rent allowance under section'),
 Document(page_content='is (e) is House rent allowance under section 10(13A) is Rs. 5000 is (f) is Amount of any other exemption under section 10 is clause test1 is Rs. 1234 is Clause test2 is Rs. 5678 is Clause test 3 is Rs. 234 is clause test4 is Rs. 978 is clause tes5'),
 Document(page_content='Rs. 234 is clause test4 is Rs. 978 is clause tes5 is Rs. 234 is Another caluse is Rs. 635 is (g) is Total amount of any other exemption under section 10 is Rs. 3243 is (h) is Total amount of exemption claimed under section'),
 Document(page_content='Total amount of exemption claimed under section 10\r[2(a)+2(b)+2(c)+2(d)+2(e)+2(g)] is Rs. 5321 is 3. is Total amount of salary received from current employer\r[1(d)-2(h)] is Rs. 234 is 4. is Less: Deductions under section 16 is (a) is Standard'),
 Document(page_content='Deductions under section 16 is (a) is Standard deduction under section 16(ia) is Rs. 346 is (b) is Entertainment allowance under section 16(ii) is Rs. 3453 is (c) is Tax on employment under section 16(iii) is Rs. 3631')]

In [15]:
from langchain_community.llms import Ollama
llm = Ollama(model="gemma2:2b")

In [72]:
vectordb = FAISS.from_documents(docs, embeddings)

In [56]:
prompt = PromptTemplate.from_template(

    """
    Answer the following question based only on the provided context:
    The context tells about the form 16 filled by the user and describes the amount he has entered in each category
    
    <context>
    {context}
    </context>
    
    question : {input}

    """
)

In [73]:
doc_chain = create_stuff_documents_chain(llm,prompt)

In [74]:
retriever = vectordb.as_retriever()
retrieve_chain = create_retrieval_chain(retriever,doc_chain)

In [38]:
# query = "provisions contained in section"
# res = vectordb.similarity_search(query)

In [85]:
resp = retrieve_chain.invoke({"input":"what is the Tax on employment under section 16 ?"})

Failed to batch ingest runs: LangSmithConnectionError('Connection error caused failure to POST https://api.smith.langchain.com/runs/batch  in LangSmith API. Please confirm your internet connection.. ConnectionError(MaxRetryError("HTTPSConnectionPool(host=\'api.smith.langchain.com\', port=443): Max retries exceeded with url: /runs/batch (Caused by NewConnectionError(\'<urllib3.connection.HTTPSConnection object at 0x000001D30959A400>: Failed to establish a new connection: [Errno 11001] getaddrinfo failed\'))"))')

Failed to batch ingest runs: LangSmithConnectionError('Connection error caused failure to POST https://api.smith.langchain.com/runs/batch  in LangSmith API. Please confirm your internet connection.. ConnectionError(MaxRetryError("HTTPSConnectionPool(host=\'api.smith.langchain.com\', port=443): Max retries exceeded with url: /runs/batch (Caused by NewConnectionError(\'<urllib3.connection.HTTPSConnection object at 0x000001D30952E100>: Failed to establish a new connection: [Errno 11001] getaddrinfo failed\'))"))')
Failed to batch ingest runs: LangSmithConnectionError('Connection error caused failure to POST https://api.smith.langchain.com/runs/batch  in LangSmith API. Please confirm your internet connection.. ConnectionError(MaxRetryError("HTTPSConnectionPool(host=\'api.smith.langchain.com\', port=443): Max retries exceeded with url: /runs/batch (Caused by NewConnectionError(\'<urllib3.connection.HTTPSConnection object at 0x000001D3095FFBE0>: Failed to establish a new connection: [Errno 11001] getaddrinfo failed\'))"))')

In [86]:
resp['answer']

'The Tax on Employment under section 16 is Rs. 3631. \n'

In [11]:
from langchain.chains.summarize import load_summarize_chain

In [12]:
prompt_template = """Write a concise summary of the following text delimited by triple backquotes.
              Return your response in bullet points which covers the key points of the text.
              ```{text}```
              BULLET POINT SUMMARY:
  """

prompt = PromptTemplate(template=prompt_template, input_variables=["text"])

In [16]:
stuff_chain = load_summarize_chain(llm, chain_type="stuff", prompt=prompt)

In [42]:
try:
    print(stuff_chain.run(documents))
except Exception as e:
    print(
        
        "The code failed since it won't be able to run inference on such a huge context and throws this exception: ",
        e,
    )

Here's a summary of the provided text in bullet points covering the key points:

**Income and Deductions:**

* **Salary Details:**
    * Gross Salary: Rs. 1000
    * Perquisites: Rs. 5000
    * Profits ( lieu of salary): Rs. 9000
    * Total Received from other Employers: Rs. 6000
* **Exemptions Under Section 10:**
    * Travel Concession/Assistance: Rs. 500
    * Death-cum-Retirement Gratuity: Rs. 800
    * Commuted Value of Pension: Rs. 900
    * Cash equivalent of Leave Salary: Rs. 20000
    * House Rent Allowance: Rs. 5000
    * Other Exemptions (Total): Rs. 3243
* **Net Salary After Allowances:**
    * Total Salary After Deductions: Rs. 234
* **Deductions Under Section 16:**
    * Standard Deduction: Rs. 346
    * Entertainment Allowance: Rs. 3453
    * Tax on Employment: Rs. 3631
    * Total Deductions (all sections): Rs. 10006
* **Other Income:**
    * House Property Income: Rs. 3289
    * Other Sources: Rs. 42342
    * Total Other Income: Rs. 4654
* **Total Gross Income:** Rs. 987
* **Deductions under Chapter VI-A (Tax Saving):**
   * Life Insurance, Provident Fund etc.: Rs. 2334
   * Pension contributions: Rs. 5266
   * Health Insurance: Rs. 8798
   * Education Loan Interest: Rs. 6789
   * Donations and Charitable institutions: Rs. 3464
   * Savings Account interest: Rs. 2356

**Tax Calculations:**

* Total Deductible Amount:  [Specific amounts are mentioned from the chapter VI-A]
* Net Tax Payable: [Amount after deductions and exemptions, specific amounts are mentioned]


**Verification & Declaration:**

*  The text ends with a verification statement by the individual responsible for tax deduction.


Let me know if you have any other questions or need further clarification!

In [13]:
map_prompt_template = """
                      Write a summary of this chunk of text that includes the main points and any important details.
                      {text}
                      """

map_prompt = PromptTemplate(template=map_prompt_template, input_variables=["text"])

combine_prompt_template = """
                      Write a concise summary of the following text delimited by triple backquotes.
                      Return your response in bullet points which covers the key points of the text.
                      ```{text}```
                      BULLET POINT SUMMARY:
                      """

combine_prompt = PromptTemplate(
    template=combine_prompt_template, input_variables=["text"]
)

In [98]:
map_reduce_chain = load_summarize_chain(
    llm,
    chain_type="map_reduce",
    map_prompt=map_prompt,
    combine_prompt=combine_prompt,
    return_intermediate_steps=True,
)

In [105]:
map_reduce_outputs = map_reduce_chain({"input_documents": documents})
map_reduce_outputs

: