In [1]:
from langchain.document_loaders.parsers.pdf import PDFPlumberParser
from langchain.document_loaders import Blob
from langchain.document_loaders import PyPDFLoader

In [46]:
from langchain.document_loaders import Blob
from langchain.document_loaders.parsers.pdf import PDFPlumberParser

# Create a Blob object for the PDF document
blob = Blob.from_path("page 1.pdf")

# Create a PDFPlumberParser object
parser = PDFPlumberParser()

# Use the lazy_parse method to parse the PDF document

docs = parser.lazy_parse(blob)
for i in docs:
    print(i)

page_content='
' metadata={'source': 'sample.pdf', 'file_path': 'sample.pdf', 'page': 0, 'total_pages': 1, 'Producer': 'Adobe XD'}

In [5]:
loader = PyPDFLoader('page 1.pdf')

#split the document into chunks
pages = loader.load_and_split()

In [6]:
!pip install tabula-py
!pip install jpype

Requirement already satisfied: tabula-py in c:\users\kushaagra mehta\anaconda3\envs\torch_env\lib\site-packages (2.9.3)
Requirement already satisfied: pandas>=0.25.3 in c:\users\kushaagra mehta\anaconda3\envs\torch_env\lib\site-packages (from tabula-py) (1.5.3)
Requirement already satisfied: numpy in c:\users\kushaagra mehta\anaconda3\envs\torch_env\lib\site-packages (from tabula-py) (1.26.4)
Requirement already satisfied: distro in c:\users\kushaagra mehta\anaconda3\envs\torch_env\lib\site-packages (from tabula-py) (1.9.0)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\kushaagra mehta\anaconda3\envs\torch_env\lib\site-packages (from pandas>=0.25.3->tabula-py) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\kushaagra mehta\anaconda3\envs\torch_env\lib\site-packages (from pandas>=0.25.3->tabula-py) (2024.1)
Requirement already satisfied: six>=1.5 in c:\users\kushaagra mehta\anaconda3\envs\torch_env\lib\site-packages (from python-dateutil>=2.8.1->pandas>=0.25.3->tabula-py) (1.16.0)
Collecting jpype
  Using cached jpype-0.0.tar.gz (541 bytes)
  Preparing metadata (setup.py): started
  Preparing metadata (setup.py): finished with status 'error'

  error: subprocess-exited-with-error

  python setup.py egg_info did not run successfully.
  exit code: 1

  [8 lines of output]

  =========================================

  Please install the `JPype` with ``pip install jpype1``

  =========================================


  [end of output]

  note: This error originates from a subprocess, and is likely not a problem with pip.
error: metadata-generation-failed

Encountered error while generating package metadata.

See above for output.

note: This is an issue with the package mentioned above, not pip.
hint: See above for details.

# ------------------ Tabula ----------------------------------

# ------------------ Tabula ----------------------------------

# ------------------ Tabula ----------------------------------

In [93]:
from tabula.io import read_pdf

tab = read_pdf('page 1.pdf', pages='all')
# for t in tab:
#     print(t, "\n=========================\n")
df = tab[0]

In [94]:
len(tab)

2

In [43]:
df.columns

Index(['Details of Salary Paid and any other income and tax deducted',
       'Unnamed: 0', 'Unnamed: 1', 'Unnamed: 2', 'Unnamed: 3'],
      dtype='object')

In [44]:
# df.drop(columns=['Details of Salary Paid and any other income and tax deducted'], inplace=True)

In [53]:
import numpy as np
df = df.replace(np.nan, 0)

In [54]:
df.head()

,Details of Salary Paid and any other income and tax deducted,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3
0,1.,Gross Salary,0,0,0
1,(a),Salary as per provisions contained in section ...,0,Rs. 1000,0
2,(b),Value of perquisites under section 17(2) (as p...,0,Rs. 5000,0
3,(c),Profits in lieu of salary under section 17(3) ...,0,Rs. 9000,0
4,(d),Total,0,0,Rs. 4000

In [79]:
df.iloc[22:30]

,Details of Salary Paid and any other income and tax deducted,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3
22,4.,Less: Deductions under section 16,0,0,0
23,(a),Standard deduction under section 16(ia),0,Rs. 346,0
24,(b),Entertainment allowance under section 16(ii),0,Rs. 3453,0
25,(c),Tax on employment under section 16(iii),0,Rs. 3631,0

In [76]:
# dropped_df = df.drop(columns=['Details of Salary Paid and any other income and tax deducted'])
# dropped_df.head()

In [77]:
# sentences
sentences = []

In [78]:
indices =[(0,6),(6,21), (21,22), (22,23), (), ()]
# describe = set([1,2])

In [63]:
def make_str(arr):
    sentences.append(" ".join(arr))
def subset_making(start,stop):
    subset_array =( df.iloc[start:stop].to_numpy()).flatten()
    subset_array = [str(element) for element in subset_array if element != 0]
    make_str(subset_array)

In [74]:
for j in range(len(indices)):
    subset_making(indices[j][0],indices[j][1])

In [75]:
sentences

['1. Gross Salary (a) Salary as per provisions contained in section 17(1) Rs. 1000 (b) Value of perquisites under section 17(2) (as per Form\rNo. 12BA, wherever applicable) Rs. 5000 (c) Profits in lieu of salary under section 17(3) (as per\rForm No. 12BA, wherever applicable) Rs. 9000 (d) Total Rs. 4000 (e) Reported total amount of salary received from other\remployer(s) Rs. 6000',
 '2. Less: Allowances to the extent exempt under section 10 (a) Travel concession or assistance under section 10(5) Rs. 500 (b) Death-cum-retirement gratuity under section 10(10) Rs. 800 (c) Commuted value of pension under section 10(10A) Rs. 900 (d) Cash equivalent of leave salary encashment under\rsection 10(10AA) Rs. 20000 (e) House rent allowance under section 10(13A) Rs. 5000 (f) Amount of any other exemption under section 10 clause test1 Rs. 1234 Clause test2 Rs. 5678 Clause test 3 Rs. 234 clause test4 Rs. 978 clause tes5 Rs. 234 Another caluse Rs. 635 (g) Total amount of any other exemption under section 10 Rs. 3243 (h) Total amount of exemption claimed under section 10\r[2(a)+2(b)+2(c)+2(d)+2(e)+2(g)] Rs. 5321',
 '3. Total amount of salary received from current employer\r[1(d)-2(h)] Rs. 234',
 '4. Less: Deductions under section 16']

In [39]:
result_parts = []

# for i, element in enumerate(subset_array):
#     result_parts.append(element)
#     if (i + 1) % 2 == 0 and i + 1 < len(subset_array):
#         result_parts.append("is")
result_string = ' '.join(result_parts)
sentences.append(result_string)

In [40]:
sentences

['Gross Salary Salary as per provisions contained in section 17(1) is Rs. 1000 Value of perquisites under section 17(2) (as per Form\rNo. 12BA, wherever applicable) is Rs. 5000 Profits in lieu of salary under section 17(3) (as per\rForm No. 12BA, wherever applicable) is Rs. 9000 Total is Rs. 4000 Reported total amount of salary received from other\remployer(s) is Rs. 6000']

In [11]:
# df = df.columns.str.replace(' ', '')
df.dtypes

Details of Salary Paid and any other income and tax deducted    object
Unnamed: 0                                                      object
Unnamed: 1                                                      object
Unnamed: 2                                                      object
Unnamed: 3                                                      object
dtype: object

In [48]:
# from pandasai import SmartDataframe
# from pandasai.llm.local_llm import LocalLLM
# import pandas as pd
# from pandasai.connectors import PostgreSQLConnector

In [49]:
# ollama_llm = LocalLLM(api_base="http://localhost:11434", model="gemma2:2b")

In [50]:
# smdf = SmartDataframe(df, config={"llm": ollama_llm})

In [28]:
# response = smdf.chat('What is unnamed 2 of Profits in lieu of salary')

# -----------------Trying from direct loading--------------------

In [ ]:
from langchain.d

In [95]:
from tabula.io import read_pdf

tab = read_pdf('partb.pdf', pages='all')
# for t in tab:
#     print(t, "\n=========================\n")
df = tab[2]

In [96]:
len(tab)

6

In [97]:
text= []
for df in tab:
    df = df.replace(np.nan, 0)
    df = (df.to_numpy()).flatten()
    filtered_elements = [str(element) for element in df if element != 0]
    result = ' '.join(filtered_elements)
    text.append(result)

In [98]:
text

['1. Gross Salary (a) Salary as per provisions contained in section 17(1) Rs. ... (b) Value of perquisites under section 17(2) (as per Form Rs. ... No. 12BA, wherever applicable) (c) Profits in lieu of salary under section 17(3) (as per Rs. ... Form No. 12BA, wherever applicable) (d) Total Rs. ... (e) Reported total amount of salary received from other Rs. ... employer(s) 2. Less: Allowances to the extent exempt under section 10 (a) Travel concession or assistance under section 10(5) Rs. ... (b) Death-cum-retirement gratuity under section 10(10) Rs. ... (c) Commuted value of pension under section 10(10A) Rs. ... (d) Cash equivalent of leave salary encashment under Rs. ... section 10(10AA) (e) House rent allowance under section 10(13A) Rs. ... (f) Amount of any other exemption under section 10 clause ... Rs. ... clause ... Rs. ... clause ... Rs. ... clause ... Rs. ... clause ... Rs. ... ... Rs. ... (g) Total amount of any other exemption under section 10 Rs. ... (h) Total amount of exemption claimed under section 10 Rs. ... [2(a)+2(b)+2(c)+2(d)+2(e)+2(g)] 3. Total amount of salary received from current employer Rs. ... [1(d)-2(h)] 4. Less: Deductions under section 16 (a) Standard deduction under section 16(ia) Rs. ... (b) Entertainment allowance under section 16(ii) Rs. ... (c) Tax on employment under section 16(iii) Rs. ...',
 '[4(a)+4(b)+4(c)] 6. Income chargeable under the head "Salaries" Rs. ... [(3+1(e)-5] 7. Add: Any other income reported by the employee under as per section 192 (2B) (a) Income (or admissible loss) from house property Rs. ... reported by employee offered for TDS (b) Income under the head Other Sources offered for TDS Rs. ... 8. Total amount of other income reported by the employee Rs. ... [7(a)+7(b)] 9. Gross total income (6+8) Rs. ... 10. Deductions under Chapter VI-A',
 'Amount e Amount (a) Deduction in respect of life insurance premia, Rs. ... Rs. ... contributions to provident fund etc. under section 80C (b) Deduction in respect of contribution to certain pension Rs. ... Rs. ... funds under section 80CCC (c) Deduction in respect of contribution by taxpayer to Rs. ... Rs. ... pension scheme under section 80CCD (1) (d) Total deduction under section 80C, 80CCC and Rs. ... Rs. ... 80CCD(1) (e) Deductions in respect of amount paid/deposited to Rs. ... Rs. ... notified pension scheme under section 80CCD (1B) (f) Deduction in respect of contribution by Employer to Rs. ... Rs. ... pension scheme under section 80CCD (2) (g) Deduction in respect of health insurance premia under Rs. ... Rs. ... section 80D (h) Deduction in respect of interest on loan taken for Rs. ... Rs. ... higher education under section 80E Gross Qualifyin Deductibl Amount g Amount e Amount (i) Total Deduction in respect of donations to certain Rs. ... Rs. ... Rs. ... funds, charitable institutions, etc. under section 80G (j) Deduction in respect of interest on deposits in savings Rs. ... Rs. ... Rs. ... account under section 80TTA',
 'section ... Rs. ... Rs. ... Rs. ... section ... Rs. ... Rs. ... Rs. ... section ... Rs. ... Rs. ... Rs. ... section ... Rs. ... Rs. ... Rs. ... section ... Rs. ... Rs. ... Rs. ... section ... Rs. ... Rs. ... Rs. ... ... Rs. ... Rs. ... Rs. ... (l) Total of amount deductible under any other Rs. ... Rs. ... Rs. ... provision(s) of Chapter VI-A 11. Aggregate of deductible amount under Chapter VI-A Rs. ... [10(a)+10(b)+10(c)+10(d)+10(e)+10(f)+10(g)+ 10(h)+10(i) 10(j)+10(l)] 12. Total taxable income (9-11) Rs. ... 13. Tax on total income Rs. ... 14. Rebate under section 87A, if applicable Rs. ... 15. Surcharge, wherever applicable Rs. ... 16. Health and education cess Rs. ... 17. Tax payable (13+15+16-14) Rs. ... 18. Less: Relief under section 89 (attach details) Rs. ... 19. Net tax payable (17-18) Rs. ... Verification I, ..................................., son/daughter of ..............................................working in the capacity of ..................................... (designation) do hereby certify that the information given above is true, complete and correct and is based on the books of account, documents, TDS statements, and other available records. Place.............................. (Signature of person responsible for deduction of tax) Date.............................. Full Name : ...........................',
 'jurisdiction as regards TDS statements of the assessee. 4.If an assessee is employed under one employer only during the year, certificate in Form No. 16 issued for the quarter ending on 31st March of the financial year shall contain the details of tax deducted and deposited for all the quarters of the financial year. 5.(i) If an assessee is employed under more than one employer during the year, each of the employers shall issue Part A of the certificate in Form No. 16 pertaining to the period for which such assessee was employed with each of the employers. (ii) Part B (Annexure) of the certificate in Form No.16 may be issued by each of the employers or the last employer at the option of the assessee. 6.In Part A, in items I and II, in the column for tax deposited in respect of deductee, furnish total amount of tax, surcharge and health and education cess. 7.Deductor shall duly fill details, where available, in item numbers 2(f) and 10(k) before furnishing of Part B (Annexure) to the employee.]',
 '']

In [ ]:
documents = [Document(page_content=text) for text in text_list]